<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fornax.Net.Bot.Net.FornaxBot" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fornax.Net.Bot.Net.FornaxBot" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Fornax.Net.Bot.Net.FornaxBot>
            <setting name="GetRobot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DepthofSearch" serializeAs="String">
                <value>20</value>
            </setting>
        </Fornax.Net.Bot.Net.FornaxBot>
    </applicationSettings>
    <userSettings>
        <Fornax.Net.Bot.Net.FornaxBot>
            <setting name="FileTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.txt</string>
                        <string>.pdf</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Fornax.Net.Bot.Net.FornaxBot>
    </userSettings>
</configuration>