<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fornax.Net.Fornax" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Fornax.Net.Fornax>
            <setting name="DefaultDOMTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.dhtml</string>
                        <string>.fxml</string>
                        <string>.htm</string>
                        <string>.html</string>
                        <string>.shtml</string>
                        <string>.xaml</string>
                        <string>.xhtml</string>
                        <string>.xml</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultEmailTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.eml</string>
                        <string>.dbx</string>
                        <string>.msg</string>
                        <string>.pst</string>
                        <string>.vcf</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultWebTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.asp</string>
                        <string>.aspx</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultSlideTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.ppt</string>
                        <string>.pptx</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultSSheetTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.xl</string>
                        <string>.xlr</string>
                        <string>.xls</string>
                        <string>.xlsm</string>
                        <string>.xlsx</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultMediaTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.mp3</string>
                        <string>.mp4</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultImageTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.gif</string>
                        <string>.jpeg</string>
                        <string>.jpg</string>
                        <string>.png</string>
                        <string>.tiff</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultPlainTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.ans</string>
                        <string>.ascii</string>
                        <string>.c</string>
                        <string>.cs</string>
                        <string>.java</string>
                        <string>.txt</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultTextTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.csv</string>
                        <string>.doc</string>
                        <string>.docx</string>
                        <string>.epub</string>
                        <string>.pdf</string>
                        <string>.rtf</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultZipTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.gzip</string>
                        <string>.rar</string>
                        <string>.zip</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.dhtml</string>
                        <string>.fxml</string>
                        <string>.htm</string>
                        <string>.html</string>
                        <string>.shtml</string>
                        <string>.xaml</string>
                        <string>.xhtml</string>
                        <string>.xml</string>
                        <string>.eml</string>
                        <string>.dbx</string>
                        <string>.msg</string>
                        <string>.pst</string>
                        <string>.vcf</string>
                        <string>.asp</string>
                        <string>.aspx</string>
                        <string>.xl</string>
                        <string>.xlr</string>
                        <string>.xls</string>
                        <string>.xlsm</string>
                        <string>.xlsx</string>
                        <string>.ppt</string>
                        <string>.pptx</string>
                        <string>.mp3</string>
                        <string>.mp4</string>
                        <string>.gif</string>
                        <string>.jpeg</string>
                        <string>.jpg</string>
                        <string>.png</string>
                        <string>.tiff</string>
                        <string>.ans</string>
                        <string>.ascii</string>
                        <string>.c</string>
                        <string>.cs</string>
                        <string>.java</string>
                        <string>.txt</string>
                        <string>.csv</string>
                        <string>.doc</string>
                        <string>.docx</string>
                        <string>.epub</string>
                        <string>.pdf</string>
                        <string>.rtf</string>
                        <string>.gzip</string>
                        <string>.rar</string>
                        <string>.zip</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Fornax.Net.Fornax>
    </userSettings>
</configuration>